:root {
    --action-primary: rgba(37, 218, 197, 1);
    --action-secondary: rgba(72, 43, 231, 1);
    --action-third: rgba(233, 58, 125, 1);
    --colors-heading: rgba(30, 14, 98, 1);
    --colors-text: rgba(21, 20, 57, 0.4);
    --colors-white: rgba(255, 255, 255, 1);
    --colors-grey: rgba(235, 234, 237, 1);
    --background-dark: rgba(47, 24, 147, 1);
    --background-light: rgba(255, 255, 255, 1);
    --socials-facebook: rgba(66, 103, 178, 1);
    --socials-youtube: rgba(234, 50, 35, 1);
    --socials-twitter: rgba(29, 161, 242, 1);
    --socials-pinterest: rgba(200, 35, 44, 1);
    --socials-snapchat: rgba(255, 252, 0, 1);
    --socials-linkedin: rgba(0, 119, 181, 1);
    --socials-dribbble: rgba(233, 76, 136, 1);
    --font-awesome-font-family: "FontAwesome-Regular", Helvetica;
    --font-awesome-font-weight: 400;
    --font-awesome-font-size: 18px;
    --font-awesome-letter-spacing: 0px;
    --font-awesome-line-height: normal;
    --font-awesome-font-style: normal;
    --text-article-font-family: "DMSans-Medium", Helvetica;
    --text-article-font-weight: 500;
    --text-article-font-size: 18px;
    --text-article-letter-spacing: 0px;
    --text-article-line-height: 28px;
    --text-article-font-style: normal;
    --text-paragraph-font-family: "DMSans-Regular", Helvetica;
    --text-paragraph-font-weight: 400;
    --text-paragraph-font-size: 16px;
    --text-paragraph-letter-spacing: 0px;
    --text-paragraph-line-height: 26px;
    --text-paragraph-font-style: normal;
    --text-description-font-family: "DMSans-Medium", Helvetica;
    --text-description-font-weight: 500;
    --text-description-font-size: 14px;
    --text-description-letter-spacing: 0px;
    --text-description-line-height: 22px;
    --text-description-font-style: normal;
    --text-label-font-family: "DMSans-Bold", Helvetica;
    --text-label-font-weight: 700;
    --text-label-font-size: 14px;
    --text-label-letter-spacing: 2px;
    --text-label-line-height: 26px;
    --text-label-font-style: normal;
    --heading-h1-hero-font-family: "DMSans-Bold", Helvetica;
    --heading-h1-hero-font-weight: 700;
    --heading-h1-hero-font-size: 72px;
    --heading-h1-hero-letter-spacing: -1px;
    --heading-h1-hero-line-height: 86px;
    --heading-h1-hero-font-style: normal;
    --heading-h2-header-font-family: "DMSans-Bold", Helvetica;
    --heading-h2-header-font-weight: 700;
    --heading-h2-header-font-size: 58px;
    --heading-h2-header-letter-spacing: -1px;
    --heading-h2-header-line-height: 70px;
    --heading-h2-header-font-style: normal;
    --heading-h3-title-font-family: "DMSans-Bold", Helvetica;
    --heading-h3-title-font-weight: 700;
    --heading-h3-title-font-size: 42px;
    --heading-h3-title-letter-spacing: -0.4000000059604645px;
    --heading-h3-title-line-height: 52px;
    --heading-h3-title-font-style: normal;
    --heading-h4-headline-font-family: "DMSans-Bold", Helvetica;
    --heading-h4-headline-font-weight: 700;
    --heading-h4-headline-font-size: 32px;
    --heading-h4-headline-letter-spacing: 0px;
    --heading-h4-headline-line-height: 42px;
    --heading-h4-headline-font-style: normal;
    --heading-h5-lead-font-family: "DMSans-Medium", Helvetica;
    --heading-h5-lead-font-weight: 500;
    --heading-h5-lead-font-size: 22px;
    --heading-h5-lead-letter-spacing: 0px;
    --heading-h5-lead-line-height: 32px;
    --heading-h5-lead-font-style: normal;
    --buttons-small-font-family: "DMSans-Medium", Helvetica;
    --buttons-small-font-weight: 500;
    --buttons-small-font-size: 16px;
    --buttons-small-letter-spacing: 0px;
    --buttons-small-line-height: 22px;
    --buttons-small-font-style: normal;
    --buttons-big-font-family: "DMSans-Medium", Helvetica;
    --buttons-big-font-weight: 500;
    --buttons-big-font-size: 20px;
    --buttons-big-letter-spacing: 0px;
    --buttons-big-line-height: 26px;
    --buttons-big-font-style: normal;
    --buttons-middle-font-family: "DMSans-Medium", Helvetica;
    --buttons-middle-font-weight: 500;
    --buttons-middle-font-size: 18px;
    --buttons-middle-letter-spacing: 0px;
    --buttons-middle-line-height: 26px;
    --buttons-middle-font-style: normal;
  }